{% extends "base2.html" %}
{% load static %}
{% block navlinks %}
<a class="nav-link active px-3 py-4 " aria-current="page" href="/">Home</a>
<a class="nav-link active px-3 py-4 active-link" aria-current="page" href="{% url 'all_events' %}">Events</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_groups' %}">Groups</a>
<a class="nav-link active px-3 py-4 " href="{% url 'add_event' %}">Add Events</a>
<a class="nav-link active px-3 py-4 " href="{% url 'events_list_host' %}">Dashboard </a>
<a class="nav-link active  px-3 py-4 " href="{% url 'leaderboard' %}">Leaderboard</a>
{% endblock navlinks %}

{% block container %}
<div class="container mt-4">
  <form method="POST" action="{% url 'all_events' %}">{% csrf_token %}
    <div class="d-flex justify-content-center mt-5">
      <input style="width:60%; max-width:700px" type="text" name="search_text" class="form-control"
        placeholder="Search Events">
      <button type="submit" class="btn btn-outline-info">Search</button>


    </div>
  </form>
  {% if search_text %}
  <h5 class="text-center mt-5 mb-5">Search results for '{{search_text}}'</h5>

  {% endif %}
  {% if past_events %}
  <div class="d-flex justify-content-center mt-5 mb-3">
    <a href="#past-events" class="btn btn-outline-info">Past events</a>
  </div>
  {% endif %}
  





</div>

<div id="current-events" class="container mt-3 p-4">
  <h3 class="text-center mb-5">Current events</h3>
  {% if current_events %}
  <div class="row row-cols-1 row-cols-md-3 g-4 ">


    {% for event in current_events %}

    <div class="col">
      <div class="card">
        <img style="max-width:100%; object-fit:cover; height: 200px;" src="{{event.poster.url}}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title mb-3">{{event.title}}</h5>

          {% if event.group %}
          <p style="font-size:smaller" class="mb-3 mt-4"><img
              src="https://img.icons8.com/glyph-neue/24/ffffff/group-objects.png" /> Group: <a
              style="margin-left: 0.4rem;" href="{% url 'group_view' event.group.pk %}"> {{event.group}}</a></p>
          {% else %}
          <p style="font-size:smaller" class="mb-3 mt-4"><img
              src="https://img.icons8.com/glyph-neue/24/ffffff/group-objects.png" /> Group: <a
              style="margin-left: 0.4rem;" href=""> {{event.group}}</a></p>
          {% endif %}


          <p style="font-size: x-small;">
            {% for tag in event.tag_set.all %}

            <a id="tag" href="{% url 'tagged_events' tag.pk %}">#{{tag}}</a>

            {% endfor %}
          </p>
          <h6>
            {% if event.result_out %}

            <span class="badge rounded-pill bg-light text-dark mt-2 mb-3">

              Result Out
            </span>
            {% elif current_time > event.end_time %}
            <span class="badge rounded-pill bg-light text-dark mt-2 mb-3">

              Passed
            </span>

            {% else %}
            <span style="background-color:cyan !important" class="badge rounded-pill bg-light text-dark mt-2 mb-3">

              Ongoing
            </span>

            {% endif %}
          </h6>
          <a id="block-btn" href="{% url 'event_home' event.pk %}" class="btn btn-outline-primary btn-sm">View <img
              style="margin-bottom: 0.1rem;" src="https://img.icons8.com/fluency/18/000000/forward.png" /></a>

        </div>
      </div>
    </div>

    {% endfor %}



  </div>
  {% else %}
  <div class="container mt-3 p-3">
    <img style="width:100%; max-height:50vh" src="{% static 'no_events.svg' %}" alt="">
  </div>
  <h3 style="text-align:center; color:cyan"><strong>Oops!! no event is going on</strong></h3>
  {% endif %}

</div>


<div id="past-events" class="container mt-5 py-4 px-3">


  {% if past_events %}
  <div class="d-flex justify-content-center mt-3 mb-5">
    <a href="#current-events" class="btn btn-info">Current events</a>
  </div>


  <h3 class="text-center mb-5">Past events</h3>

  <div class="card p-4 py-5">
    <div class="row">
      {% for event in past_events %}
      <div class="col-lg-3 col-sm-6 mb-3">
        <a style="text-decoration: none; " href="{% url 'event_home' event.pk %}">
          <div style="background-color: #292929; margin-right: 1rem;" class="card" id="card">
            <img style="height:200px; object-fit:cover" src="{{event.poster.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{event.title}}</h6>
              <h6><span class="badge rounded-pill bg-light text-dark mt-2">

                  {% if event.result_out %}
                  Results out
                  {% else %}
                  Ongoing
                  {% endif %}
                </span>
              </h6>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{event.start_time.date}}</small>


            </div>
          </div>

        </a>


      </div>

      {% endfor %}

    </div>
  </div>
  {% endif %}
</div>

{% endblock container %}