
{% extends "base2.html" %}


{% block navlinks %}
<a class="nav-link active px-3 py-4 " aria-current="page" href="/">Home</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_events' %}">Events</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_groups' %}">Groups</a>
<a class="nav-link active px-3 py-4 " href="{% url 'add_event' %}">Add Events</a>
<a class="nav-link active px-3 py-4 " href="{% url 'events_list_host' %}">Dashboard </a>
<a class="nav-link active  px-3 py-4 " href="{% url 'leaderboard' %}" >Leaderboard</a>
{% endblock navlinks %}
{% block container %}


<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div id="form_card" class="card mb-3">
        <img style="height:200px; object-fit: cover; border-radius: 8px;" src="{{form_parent.banner_img.url}}"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{form_parent.title}}</h5>
          <p class="card-text">{{form_parent.description}}</p>
          <span><img style="margin-bottom: 0.1rem; margin-right:0.5rem" src="https://img.icons8.com/ios-filled/20/ffffff/user-male-circle.png"/> <strong style="color: grey;">
              {{request.user.username}}</strong></span>
          <p class="card-text mt-2"><small class="text-muted">From : {{form_parent.event_obj.title}}</small></p>
        </div>
      </div>

    </div>
  </div>

  {% if formobj %}

  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div id="form_card" class="card mb-3">
        <div style="background-color: #0d6efd; height:10px" class="card-img-top"></div>

        <div class="card-body py-4 px-5">

          <h3 class="card-title mt-3">Response is recorded !!</h3>
          <p class="card-text mt-5">Thanks for submitting <strong>{{form_parent.title}}</strong></p>

        </div>
      </div>

    </div>
  </div>
  {% if feedback %}
  {% else %}
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div id="form_card" class="card mb-3">
        <div style="background-color: #0d6efd; height:10px" class="card-img-top"></div>

        <div class="card-body py-4 px-5">

          <h3 class="card-title mt-3 mb-5">Please give feedback</h3>
          <form class="container" action="{% url 'submit_feedback' %}" method="POST">{% csrf_token %}

            <input style="display: none;" name="event_id" type="text" value="{{form_parent.event_obj.pk}}">

            <label for="feedback" class="form-label">Feedback</label>
            <textarea style="border-top: 2px solid #03dac5; border-right: 2px solid #03dac5; border-left: 2px solid #03dac5" name="feedback" id="feedback" cols="30" rows="10" class="form-control" required></textarea>

            <div class="d-flex justify-content-end mt-3 mb-3">
              <button type="submit" class="btn btn-outline-info">Submit</button>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
  {% endif %}
  

  {% elif form_parent.accept_responses == False %}
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div id="form_card" class="card mb-3">
        <div style="background-color: #0d6efd; height:10px" class="card-img-top"></div>

        <div class="card-body py-4 px-5">

          <h3 class="card-title mt-3">Form not accepting any response</h3>


        </div>
      </div>

    </div>
  </div>

  {% else %}
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <form enctype="multipart/form-data" method="POST" action="{% url 'form_submit' form_parent.unique_id %}">{% csrf_token %}
        {% for field in form_designs %}
        <div id="form_card" class="card mb-3">

          <div class="card-body">
            <div id="label_div" class="d-flex justify-content-between">
              <div class="card-title label" id="label">{{field.label}}</div>


            </div>


            {% if field.character_field %}
            <input style="display: none;" type="text" name="char{{field.pk}}" value="{{field.label}}">



            <input name="{{field.pk}}" type="text" class="form-control" id="form_field" required>


            {% elif field.big_text_field %}
            <input style="display: none;" type="text" name="txt{{field.pk}}" value="{{field.label}}">

            <textarea name="{{field.pk}}" class="form-control" id="form_field" rows="3" required></textarea>


            {% elif field.integer_field %}
            <input style="display: none;" type="text" name="int{{field.pk}}" value="{{field.label}}">
            <input name="{{field.pk}}" type="number" class="form-control" id="form_field" required>

            {% elif field.file_field %}
            <input style="display: none;" type="text" name="file{{field.pk}}" value="{{field.label}}" required>
            <input name="{{field.pk}}" class="form-control" type="file" accept=".png, .jpg, .jpeg">

            {% elif field.mcq_field %}
            <input style="display: none;" type="text" name="mcq{{field.pk}}" value="{{field.label}}" required>
            <ul class="list-group list-group-flush">
              {% for i in field.choice_set.all %}
              
              

              <li class="list-group-item">
              <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault{{field.pk}}" value="{{i.pk}}" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                      {{i}}
                  </label>
              </div>
              </li>
              {% endfor %}
              </ul>

            {% endif %}
          </div>
        </div>
        {% endfor %}

        <button class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>


  {% endif %}


</div>

<br>
<br>
  
{% endblock container %}
 


    
      









   {% block js %}

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
   crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <script src="https://use.fontawesome.com/a5af6d7eaf.js"></script>
    <!-- end -->

   <script>
       let labels = document.getElementsByClassName("label");
       for( i =0; i<labels.length; i++){
           labels[i].innerHTML = labels[i].innerText
       }
   </script>
     
   {% endblock js %}
