{% extends "base2.html" %}
{% block css %}
<style>
    .modal-dialog{
        /* width: 1000px; */
        /* min-width: 80vw; */
        max-width: 900px;
        /* width: 80vw; */

    }
</style>

{% endblock css %}
{% block navlinks %}
<a class="nav-link active px-3 py-4 " aria-current="page" href="/">Home</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_events' %}">Events</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_groups' %}">Groups</a>
<a class="nav-link active px-3 py-4 " href="{% url 'add_event' %}">Add Events</a>
<a class="nav-link active px-3 py-4 " href="{% url 'events_list_host' %}">Dashboard </a>
<a class="nav-link active  px-3 py-4 " href="{% url 'leaderboard' %}" >Leaderboard</a>
{% endblock navlinks %}

{% block container %}

<!-- svg start -->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<!-- svg end -->

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="card p-3">
                <div class="d-flex justify-content-center">

                    <img style="width: 10rem;" src="{{user_obj.profile.dp.url}}" alt="" class="rounded-circle">

                </div>

                <div class="d-flex justify-content-center mt-3">
                    <h3> @{{user_obj.username}}</h3>
                </div>


                <div class="d-flex justify-content-center mt-2">
                    <h5 style="opacity: 0.5; font-size: 1.5rem;">{{user_obj.first_name}}</h5>
                </div>




            </div>
        </div>

        <div class="col-lg-8 mt-4">
            <div class="card p-4">
                <div class="d-flex justify-content-between text-primary">
                    <h5 >Details</h5>
                    {% if request.user == user_obj %}
                    <a style="text-decoration: none;" href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                          </svg>

                    </a>
                    {% endif %}

                </div>

                <ul class="list-group list-group-flush mt-3 px-3">
                    <li id="flush-list" class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <h6><strong>Name</strong></h6>
                            <h6 style="opacity:0.6; font-size:1rem; margin-left:2rem">{{user_obj.first_name}}</h6>
                        </div>
                    </li>

                    <li id="flush-list" class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <h6><strong>Email</strong></h6>
                            <h6 style="opacity:0.6; font-size:1rem; margin-left:2rem">{{user_obj.email}}</h6>
                        </div>
                    </li>
                    <li id="flush-list" class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <h6><strong>Phone</strong></h6>
                            <h6 style="opacity:0.6; font-size:1rem; margin-left:2rem">{{user_obj.profile.phone}}</h6>
                        </div>
                    </li>
                    <li id="flush-list" class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <h6><strong>Address</strong></h6>
                            <h6 style="opacity:0.6; font-size:1rem; margin-left:2rem">{{user_obj.profile.address}}</h6>
                        </div>
                    </li>

                </ul>
                {% if request.user == user_obj %}
                <div class="d-grid gap-2 p-4">
                    <button data-bs-toggle="modal" data-bs-target="#deleteAccModal" class="btn btn-outline-danger">Delete account</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-4 p-2 mb-4">
        <div class="card p-4">
            <div class="d-flex justify-content-between text-primary">
                <h5 class="mb-3">Events participated</h5>

            </div>
            <div class="container mt-3">
                <div class="row">



                    {% for event in events %}
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <a style="text-decoration: none; " href="{% url 'event_home' event.pk %}">
                            <div style="background-color: #292929; margin-right: 1rem;" class="card" id="card">
                                <img style="height:200px; object-fit:cover" src="{{event.poster.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h6 class="card-title">{{event.title}}</h6>
                                  <h6><span class="badge rounded-pill bg-light text-dark mt-2">

                                    {% if event.result_out %}
                                      Passed
                                    {% else %}
                                    Ongoing
                                    {% endif %}
                                    </span>
                                  </h6>
                                </div>
                                <div class="card-footer">
                                  <small class="text-muted">{{event.start_time.date}}</small>


                                </div>
                            </div>

                        </a>


                    </div>

                    {% endfor %}


                </div>

            </div>
        </div>
    </div>
</div>



{% if request.user == user_obj %}


<!-- modal start -->

<!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-3 px-5">
            <form id="profile-edit" method="POST" enctype="multipart/form-data" action="{% url 'profile_edit' %}">{% csrf_token %}

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" type="text" value="{{request.user.first_name}}" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="dp" class="form-label">Profile picture</label>
                    <input id="dp" name="dp" type="file" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" value="{{request.user.email}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input id="phone" name="phone" type="number" value="{{request.user.profile.phone}}" class="form-control" min="0" max="1000000000">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input id="address" name="address" type="text" value="{{request.user.profile.address}}" class="form-control">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="profile-edit" class="btn btn-outline-info">Save changes</button>
        </div>
      </div>
    </div>
  </div>



<!-- modal end -->




<!-- delete modal start -->



<div class="modal fade" id="deleteAccModal" tabindex="-1" aria-labelledby="deleteAccModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="deleteAccModalLabel"> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-3">

            <h4>Are you sure you want to delete this account?</h4>
           
        </div>
        
        <div class="d-grid gap-2 p-4">
            <a href="{% url 'delete_account' %}" class="btn btn-outline-danger">Delete</a>
        </div>
        
      </div>
    </div>
  </div>



<!-- delete modal end -->
{% endif %}

{% endblock container %}