{% extends "dashboard-base.html" %}
{% load static %}


{% block css %}
<style>
    .select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
.select2{
    border-radius: 4px;
}

.select2-dropdown{
    background-color: #292929 !important;

}
.select2-dropdown  input{
    color: #121212 !important;
}
.modal-dialog{
      /* width: 1000px; */
      /* min-width: 80vw; */
      max-width: 800px ;
      /* width: 80vw; */

  }
</style>



{% endblock css %}



{% block container %}
<!-- <div class="d-flex justify-content-center mt-2 p-4">
    <img style="height:60px" src="{% static 'illus1.svg' %}" alt="">
    <h4 style="margin-left: 1rem; margin-top:1rem">Add Event</h4>
</div> -->

<!-- form -->

<div class="container px-4 py-2">


    <div class="card border-dark mb-3 p-3">

        <div class="card-body text-primary">
            <h3 style=" font-size: 900;" class="card-title mb-5"> Edit Details <img style="height:30px" src="{% static 'illus1.svg' %}" alt=""></h3>
            
            <form enctype="multipart/form-data" action="{% url 'edit_event' event.pk %}" method="POST" id="add_event">
                {% csrf_token %}
                <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" value="{{ event.title }}" required/>
                </div>
                <div class="mb-5">
                    <label for="exampleFormControlTextarea1" class="form-label">
                        Description</label>
                    <textarea class="form-control" id="mytextarea" rows="5" name="description" >{{event.description}}</textarea>
                </div>
                <div class="mb-5">
                    <label for="exampleFormControlTextarea1" class="form-label">
                        Rules</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="rules" required>{{event.rules}}</textarea>
                </div>
                <div class="mb-5">
                    <label for="formFile" class="form-label">Poster</label>
                    <input style="color: #fff" class="form-control" type="file" name="poster" id="formFile" />
                </div>
                <br>
                <div>
                    <label for="exampleFormControlInput1" class="form-label">No of Participants</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="no_of_participants" value="{{event.no_of_participants}}"  min="0" required/>
                </div>

               
                <br><br>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mt-2">
                        <label for="startTime" class="col-sm-3 col-form-label mt-2">Start Time</label>
    
                        <input style="color: #121212 !important; padding:0.3rem" type="time" id="startTime" required />
                        <input style="display: none" class="form-control" type="datetime" id="start_time"
                            name="start_time" />
                    </div>
                    <div class="col-lg-6 col-sm-12 mt-2">
                        <label for="endTime" class="col-sm-3 col-form-label mt-2">Start date</label>
    
                        <input style="color: #121212 !important; padding:0.3rem" type="date" id="startDate" required />
                        
                    </div>

                </div>
                 <div class="row">
                    
                    <div class="col-lg-6 col-sm-12 mt-2">
                        <label for="endTime" class="col-sm-3 col-form-label mt-2">End Time</label>
    
                        <input style="color: #121212 !important; padding:0.3rem" type="time" id="endTime" required />
                        <input style="display: none" class="form-control" type="datetime" id="end_time" name="end_time" />
                    </div>
                    <div class="col-lg-6 col-sm-12 mt-2">
                        <label for="startTime" class="col-sm-3 col-form-label mt-2">End date</label>
    
                        <input style="color: #121212 !important; padding:0.3rem" type="date" id="endDate" required />
                       
                    </div>

                </div>

               
                <br><br>  
            </form>
            <div class="d-grid gap-2">
                <button style="display: none;" id="sub-btn" form="add_event" class="btn btn-outline-primary" type="submit">Submit</button>
                <button id="sub-btn-click"  class="btn btn-outline-primary" type="button">Add</button>

            </div>
        </div>
    </div>

</div>



{% endblock container %}

{% block js %}

<script>
    $('.select2').select2();
</script>

<script>
    document.getElementById("startTime").addEventListener("change", () => {
        var inpt_time = document.getElementById("startTime").value;
        var inpt_date = document.getElementById("startDate").value;
        console.log(inpt_time);
        console.log(inpt_date);
        var date = inpt_date + " " + inpt_time;
        console.log(date);
        var d = new Date(date).toISOString();

        document.getElementById("start_time").value = d;

        console.log(d);
        if (document.getElementById("start_time").value >= document.getElementById("end_time").value) {
            alert("End Time Must Be After Start Time")
        }
    });
    document.getElementById("startDate").addEventListener("change", () => {
        var inpt_time = document.getElementById("startTime").value;
        var inpt_date = document.getElementById("startDate").value;
        console.log(inpt_time);
        console.log(inpt_date);
        var date = inpt_date + " " + inpt_time;
        console.log(date);
        var d = new Date(date).toISOString();

        document.getElementById("start_time").value = d;

        console.log(d);
       
    });
    




    

    document.getElementById("endTime").addEventListener("change", () => {
        var inpt_time = document.getElementById("endTime").value;
        var inpt_date = document.getElementById("endDate").value;
        console.log(inpt_time);
        console.log(inpt_date);
        var date = inpt_date + " " + inpt_time;
        console.log(date);
        var d = new Date(date).toISOString();

        document.getElementById("end_time").value = d;

        console.log(d);
       
    });
    document.getElementById("endDate").addEventListener("change", () => {
        var inpt_time = document.getElementById("endTime").value;
        var inpt_date = document.getElementById("endDate").value;
        console.log(inpt_time);
        console.log(inpt_date);
        var date = inpt_date + " " + inpt_time;
        console.log(date);
        var d = new Date(date).toISOString();

        document.getElementById("end_time").value = d;

        console.log(d);
       
    });
    document.getElementById("sub-btn-click").addEventListener("click",()=>{
        if (document.getElementById("start_time").value >= document.getElementById("end_time").value) {
            alert("End Time Must Be After Start Time")
        }else if(document.getElementById("start_time").value < document.getElementById("end_time").value){
            console.log("sub");
            document.getElementById("sub-btn").click();

        }

    })




</script>

{% endblock js %}