{% extends "base2.html" %}
{% load static %}
{% block css %}
<style>
    input{
        color: black !important;
    }
</style>
  
{% endblock css %}
{% block navlinks %}
<a class="nav-link active px-3 py-4 " aria-current="page" href="/">Home</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_events' %}">Events</a>
<a class="nav-link active px-3 py-4 " aria-current="page" href="{% url 'all_groups' %}">Groups</a>
<a class="nav-link active px-3 py-4 " href="{% url 'add_event' %}">Add Events</a>
<a class="nav-link active px-3 py-4 " href="{% url 'events_list_host' %}">Dashboard</a>
<a class="nav-link active  px-3 py-4 " href="{% url 'leaderboard' %}">Leaderboard</a>
{% endblock navlinks %}


{% block container %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <form method="post">
        <div style="width: 600px; max-width:70vw" class="card p-5">
            
                {% csrf_token %}
                {{form}}
                <input type="submit" name="Update Password" class="btn btn-primary mt-4" id="block-btn">

            
            
    
        </div>
        </form>
    
    </div>
    

</div>

{% endblock container %}