{% extends "dashboard-base.html" %}

{% load static %}

{% block css %}
<style>
    #accordionExample {
    width: 1000px;
    max-width:100%
}
.form-card{
    width: 880px;
    max-width:100%;
}
</style>
  
{% endblock css %}

{% block container %}


<div class="container mt-3">
    {% if event.formparent %}
    <div class="d-flex justify-content-center mb-4">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a type="button" href="{% url 'event_view_host' event.pk %}" class="btn btn-outline-info">Details</a>
          <a type="button" href="{% url 'winner_declaration' event.unique_id %}" class="btn btn-outline-info">Winner Declaration</a>
          <a type="button" href="{% url 'send_mail_to_participants' event.unique_id %}" class="btn btn-outline-info">Send Mail</a>
          <a type="button" href="{% url 'add_form_fields' event.formparent.pk %}" class="btn btn-outline-info">Form</a>
        </div>
    </div>
    {% endif %}


    <div id="form_card" class="card mb-3">
        <div style="background-color: #0d6efd; height:10px" class="card-img-top"></div>

        <div class="card-body py-4 px-5">

            <h3 class="card-title mt-3">{{data_dict|length}} Responses</h3>

            <div class="float-end">

                <div class="form-check form-switch">
                    {% if form_parent.0.accept_responses %}
                    <input class="form-check-input" type="checkbox" id="accept_responses" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="accept_responses">

                    {% endif %}

                    <label class="form-check-label" for="accept_responses"><small>Accepting responses</small></label>
                </div>
            </div>

        </div>
    </div>





    <div class="d-flex justify-content-center">
        <div class="accordion" id="accordionExample">

            {% for i, fields in data_dict.items %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne{{i.0|slice:'-1:'}}" aria-expanded="true" aria-controls="collapseOne">
                        <h4><i style="margin-bottom: 0.3rem; margin-right: 1rem;" class="bi bi-person-lines-fill"></i></h4>
                        {{i.1.applicant.user.username}}
                    </button>
                </h2>
                <div style="background-color:#121212" id="collapseOne{{i.0|slice:'-1:'}}" class="accordion-collapse collapse "
                    aria-labelledby="headingOne{{i.0|slice:'-1:'}}" data-bs-parent="#accordionExample">
                    <div style="padding-left: 0; padding-right: 0" class="accordion-body">
    
                        <div style="width:100%; padding: 0.2rem;" class="container">
                            <div style="max-height: 80vh;
                        overflow-y: scroll;" id="card_parent" class="card px-2 py-5">
                                <div class="d-flex justify-content-center">
                                    <div id="form_card" class="card mb-3 form-card">
                                        <img style="height:200px; object-fit: cover; border-radius: 8px;"
                                            src="{{i.1.form_parent.banner_img.url}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{i.1.form_parent.title}}</h5>
                                            <p class="card-text">{{i.1.form_parent.description|truncatechars:500}}</p>
        
                                            <p class="card-text"><small
                                                    class="text-muted">{{i.1.applicant.user.username}}</small></p>
                                        </div>
                                    </div>
                                </div>
                               
    
    
                                {% for k, field in fields.items %}
                                {% for i in field %}
    
                                {% for k in i %}
                                <div class="d-flex justify-content-center">
                                <div id="form_card" class="card mb-3 form-card">
    
    
    
                                    <div class="card-body">
                                        <div id="label_div" class="d-flex justify-content-between">
                                            <div id="label" class="card-title label">{{k.label_name}}</div>
    
    
                                        </div>
    
                                        {% if k.type_of == 'char' %}
    
    
    
                                        <input type="text" class="form-control" id="form_field" value="{{k.field_data}}"
                                            disabled>
    
    
                                        {% elif k.type_of == 'txt' %}
    
    
                                        <textarea class="form-control" id="form_field" rows="3"
                                            disabled>{{k.field_data}}</textarea>
    
    
                                        {% elif k.type_of == 'int' %}
                                        <input type="number" class="form-control" id="form_field" value="{{k.field_data}}"
                                            disabled>
    
                                        {% elif k.type_of == 'file' %}
                                        <!-- <input class="form-control" type="file" value="{{k.field_data}}" disabled> -->
                                        <a class="btn btn-outline-secondary" href="{{k.field_data.url}}" download>Download
                                            <i class="bi bi-cloud-download"></i></a>
    
    
                                        {% elif k.type_of == 'Single' %}
                                        <ul class="list-group list-group-flush">
    
                                            {% for q in k.form_design.choice_set.all %}
    
    
    
                                            <li class="list-group-item">
                                                <div class="form-check mt-2">
                                                    
                                                    {% if q.pk == k.field_data %}
                                                   
                                                    <input class="form-check-input" type="radio"
                                                        name="flexRadioDefault{{q.pk}}{{k.label_name}}{{k.pk}}" id="flexRadioDefault{{q.pk}}" checked="checked"
                                                        disabled>
                                                    {% else %}
                                                    <input class="form-check-input" type="radio"
                                                        name="flexRadioDefault{{q.pk}}{{k.label_name}}{{k.pk}}" id="flexRadioDefault{{q.pk}}" disabled>
                                                    {% endif %}
    
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        {{q}}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
    
                                    </div>
    
                                </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
    
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            {% endfor %}
    
        </div>
    </div>

    <!-- item end -->

</div>



<!-- form parent id -->


<input id="form_parent" style='display: none;' type="text" value="/accept_responses_toggle/{{form_parent.0.pk}}">
{% endblock container %}

{% block js %}
<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');




    //   fetch data



    URL = document.getElementById('form_parent').value
    let toggle_check;
    check_toggle = document.getElementById('accept_responses');
    check_toggle.onchange = () => {

        if (check_toggle.checked) {
            console.log("checked");
            toggle_check = true;
        } else {
            console.log("not");
            toggle_check = false;
        }
        // console.log(check_toggle.value);


        fetch(URL, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'toggle_check': toggle_check }) //JavaScript object of data to POST
        })
            .then(response => {
                return response.json() //Convert response to JSON
            })
            .then(data => {
                //Perform actions with the response data from the view
                console.log(data);
            })
    }

</script>
{% endblock js %}