{% extends "dashboard-base.html" %}

{% block container %}
<div class="container mt-3">

  {% if event.formparent %}

  <div class="d-flex justify-content-center mb-4">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <a type="button" href="{% url 'event_view_host' event.pk %}" class="btn btn-outline-info">Details</a>
      <a type="button" href="{% url 'winner_declaration' event.unique_id %}" class="btn btn-outline-info">Winner Declaration</a>
      <a type="button" href="{% url 'responses' event.formparent.pk %}" class="btn btn-outline-info">Responses</a>
      <a type="button" href="{% url 'add_form_fields' event.formparent.pk %}" class="btn btn-outline-info">Form</a>
    </div>
   </div>
   {% endif %}
   <br>
 {% for msg in messages %}
    <div class="alert alert-info alert-dismissible fade show mx-5" role="alert">
        <strong> {{msg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  
      
  {% endfor %}
  <br>

  <h4 style="text-align:center"><img style="margin-bottom: 0.1rem; margin-right: 0.5rem;" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/44/ffffff/external-mail-interface-kiranshastry-solid-kiranshastry.png"/><strong>Send Email To Participants </strong></h4>
    <form action="{% url 'send_mail_to_participants' event.unique_id %}" method="POST">{% csrf_token %}

        <select class="form-select" multiple name="participants">
            {% for participant in event.participants.all %}
              
            
            <option value="{{participant.user.email}}">{{participant}}</option>
      

            {% endfor %}


            
        </select>

        <div class="mb-3 mt-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="Thank You For Participating in {{event.title}}. We Were Proud To Have You Amongst Our Winners!" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="3" name='message' required>Thank you for participating in our event and making us successful. It was a pleasure to have you onboard and we look forward for more such associations. We wish you all the success in your endeavors and hope that we get an opportunity to work with you again soon.
            </textarea>
          </div>
          <div class="mb-3">
            <label for="attachment" class="form-label">Attachment</label>
            <input name="attachment" class="form-control" type="file" id="attachment" multiple>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>


    </form>
    
</div>
{% endblock container %}